@(gameContext: GameContext)(implicit messages: Messages)

<ul>
   <li>
      <div class="deck-header">
         @Messages("starboard.company"):
      </div>
      <div class="deck-data">
         @Html(gameContext.companyContext.companyName)
      </div>
   </li>
   <li>
      <div class="deck-header">
         @Messages("starboard.bank.balance"):
      </div>
      <div class="deck-data">
         &euro; @gameContext.companyContext.balance.formatted
      </div>
   </li>
   <li>
      <div class="deck-header">
         @Messages("starboard.bank.loans"):
      </div>
      <div class="deck-data">
         &euro; @gameContext.companyContext.bankLoans.total.formatted
      </div>
   </li>
   <li>
      <div class="deck-header">
         @Messages("starboard.date.date"):
      </div>
      <div class="deck-data">
         @gameContext.gameDate.year @Messages(s"starboard.date.month.${gameContext.gameDate.month}")
         <br />
         @Messages("starboard.week") @gameContext.gameDate.week
      </div>
   </li>
</ul>
