@()(implicit messages: Messages)

<ul>
   <li>
      <div class="deck-header">
         Company:
      </div>
      <div class="deck-data">
         Trucks R'Us
      </div>
   </li>
   <li>
      <div class="deck-header">
         Bank balance:
      </div>
      <div class="deck-data">
         €251,123
      </div>
   </li>
   <li>
      <div class="deck-header">
         Date:
      </div>
      <div class="deck-data">
         1985
         August
         <br />
         Week 1
      </div>
   </li>
</ul>
