@(name: String = "player")(implicit request: RequestHeader, messages: Messages, gameContext: GameContext)

@import helper._

@templates.nauticalGameBulkhead() {

<h3>
</h3>

}{

<div class="game-talk">


</div>

}{

<div class="game-action">
   @*

   <button class="btn btn-info">trucks</button>
   <button class="btn btn-info">drivers</button>
   <button class="btn btn-info">garages</button>
   <button class="btn btn-info">bank</button>
   <button class="btn btn-info">jobs</button>
   <button class="btn btn-info">hire</button>
   <button class="btn btn-info">dealers</button>
   <button class="btn btn-info">estate agent</button>

   *@
</div>

}
