@(startingLocations: List[String])(implicit request: RequestHeader, messagesProvider: MessagesProvider, gameContext: GameContext)

@import helper._

@templates.nauticalGameBulkhead() {

}{

   <div class="game-form">
      @form(action=routes.GameController.submitNewGameDetails, 'id -> "new-game"){
         @helper.CSRF.formField

         <div class="form-group col-sm-8">
            <label for="playername">
               @messagesProvider.messages("game.new.player.name")</label>
            <input type="text" class="form-control" id="playername" name="playername" value="john smith" required />
         </div>

         <div class="form-group col-sm-8">
            <label for="companyname">
               @messagesProvider.messages("game.new.company.name")</label>
            <input type="text" class="form-control" id="companyname" name="companyname" value="Trucks R'Us" required />
         </div>

      }

   </div>

}{
   <div class="game-action">

      <button type="submit" form="new-game" name="button" class="btn btn-success">@messagesProvider.messages("game.new.start")</button>

   </div>
}
