@(name: String = "player")(implicit messages: Messages, gameContext: GameContext)

@import helper._

@templates.gameKeel() {

   <h3>
      @Messages("game.welcome.header")
   </h3>


}{

   <div class="game-talk">
      <p>
         @Messages("game.welcome.description.1", name)
      </p>
      <p>
         @Messages("game.welcome.description.2", name)
      </p>
   </div>

}{
   <div class="game-action">
      <a class="btn btn-info" href="@routes.TutorialController.startTutorial">@Messages("game.welcome.start.tutorial")</a>
   </div>

}
