body {
   background-color: #333355;
   color: white;
   font-family: fantasy, Arial, sans-serif;
}
a, a:visited {
   color: #aaffaa;
}
a:hover, a:active, .btn:hover, .btn:active {
   color: #ffffaa;
}
input, button {
   color: black;
}
.nautical-component {
   border: 1px solid silver;
   padding: 1em 2em;
}
#nautical_ocean {

}
#nautical_ship {
   max-width: 50em;
   min-width: 30em;
}
#nautical-bow {
   padding: 0.25em 3em;
   /*text-align: center;*/
}
.game-form > div {
   margin: 0.2em;
}
