@(name: String = "player")(implicit messages: Messages, gameContext: GameContext)

@import helper._

@templates.gameKeel(Some("First bank loan")) {

   <h3>
      @Messages("game.tutorial.firstbankloan.header")
   </h3>

}{

   <div class="game-talk">
      <p>
         @Messages("game.tutorial.firstbankloan.description.1")
      </p>
      <p>
         @Messages("game.tutorial.firstbankloan.description.2")
      </p>
      <p>
         @Messages("game.tutorial.firstbankloan.description.3")
      </p>
   </div>

}{

<div class="game-action">

   <a href="@routes.TutorialController.showFirstBankLoanDetails" class="btn btn-info">
      @Messages("game.tutorial.firstbankloan.details")</a>

</div>

}
