@(name: String = "player")(implicit messages: Messages, gameContext: GameContext)

@import helper._

@templates.gameKeel(Some("First truck")) {

   <h3>
      @Messages("game.tutorial.firsttruck.header")
   </h3>

}{
<div class="game-talk">
   <p>
      @Messages("game.tutorial.firsttruck.description.1")
   </p>
   <p>
      @Messages("game.tutorial.firsttruck.description.2")
   </p>
</div>

}{

<div class="game-action">

   <a href="@routes.TutorialController.showFirstTruckDetails" class="btn btn-info">
      @Messages("game.tutorial.firsttruck.need")</a>

</div>

}
