@(jobOffer: JobDetails)(implicit request: RequestHeader, messages: Messages, gameContext: GameContext)

@import helper._

@templates.gameKeel(Some("First job")) {

   <h3>
      @Messages("game.tutorial.firstjob.details.header")
   </h3>

}{
   <div class="game-talk">

      <div class="card border job-card">
         <div class="card-header">
            @Messages("game.job.details.title")
         </div>
         <div class="card-body">
            <dl class="row">
               <dt class="col-sm-5">@Messages("game.job.details.company")</dt>
               <dd class="col-sm-6">@jobOffer.companyName</dd>
               <dt class="col-sm-5">@Messages("game.job.details.cargo")</dt>
               <dd class="col-sm-6">@jobOffer.freightType</dd>
               <dt class="col-sm-5">@Messages("game.job.details.pickup")</dt>
               <dd class="col-sm-6">@jobOffer.pickup</dd>
               <dt class="col-sm-5">@Messages("game.job.details.destination")</dt>
               <dd class="col-sm-6">@jobOffer.destination</dd>
               <dt class="col-sm-5">@Messages("game.job.details.routelength")</dt>
               <dd class="col-sm-6">@jobOffer.routeLength km</dd>
               <dt class="col-sm-5">@Messages("game.job.details.compensation")</dt>
               <dd class="col-sm-6">&euro; @jobOffer.compensation.formatted</dd>
               <dt class="col-sm-5">@Messages("game.job.details.deadline")</dt>
               <dd class="col-sm-6">@jobOffer.deadline.week weeks</dd>
            </dl>
         </div>
      </div>

   </div>

}{

   <div class="game-action">

      <form action="@routes.TutorialController.takeFirstJob" method="POST">
         @helper.CSRF.formField
         <button type="submit" class="btn btn-success">@Messages("game.job.accept")</button>
      </form>

</div>

}
