@(name: String = "player")(implicit messages: Messages, gameContext: GameContext)

@import helper._

@templates.gameKeel() {

   <h3>
      @Messages("game.tutorial.firstjob.header")
   </h3>

}{

   <div class="game-talk">
      <p>
         @Messages("game.tutorial.firstjob.description.1")
         <br/>
         @Html(Messages("game.tutorial.firstjob.description.2"))
      </p>
   </div>

}{

   <div class="game-action">

      <a href="@routes.TutorialController.showFirstJobDetails" class="btn btn-info">@Messages("game.tutorial.firstjob.interested")</a>

   </div>

}
