@(name: String = "player")(implicit messages: Messages)

@import helper._

@templates.nauticalGameBulkhead(Some("First truck")) {

<div class="game-talk">
   <h3>
      @Messages("game.tutorial.firsttruck.again.header")
   </h3>
   <p>
      @Messages("game.tutorial.firsttruck.again.description.1")
   </p>
   <p>
      @Messages("game.tutorial.firsttruck.again.description.2")
   </p>
</div>

}{

<div class="game-action">

   <a href="@routes.TutorialController.showFirstTruckDetailsAgain" class="btn btn-info">
      @Messages("game.tutorial.firsttruck.again.need")</a>

</div>

}
