@(name: String = "player")(implicit request: RequestHeader, messages: Messages)

@import helper._

@templates.nauticalGameBulkhead(Some("First job")) {

   <h3>
      @Messages("game.tutorial.firstjob.details.header")
   </h3>

}{
   <div class="game-talk">

      <div class="card border job-card">
         <div class="card-header">
            @Messages("game.job.details.title")
         </div>
         <div class="card-body">
            <dl class="row">
               <dt class="col-sm-5">@Messages("game.job.details.company")</dt>
               <dd class="col-sm-6">Jonny Import Export PLC</dd>
               <dt class="col-sm-5">@Messages("game.job.details.cargo")</dt>
               <dd class="col-sm-6">Scrap metal</dd>
               <dt class="col-sm-5">@Messages("game.job.details.pickup")</dt>
               <dd class="col-sm-6">Cologne</dd>
               <dt class="col-sm-5">@Messages("game.job.details.destination")</dt>
               <dd class="col-sm-6">Frankfurt</dd>
               <dt class="col-sm-5">@Messages("game.job.details.routelength")</dt>
               <dd class="col-sm-6">43.1km</dd>
               <dt class="col-sm-5">@Messages("game.job.details.compensation")</dt>
               <dd class="col-sm-6">€3.200</dd>
               <dt class="col-sm-5">@Messages("game.job.details.deadline")</dt>
               <dd class="col-sm-6">2 weeks</dd>
            </dl>
         </div>
      </div>

   </div>

}{

   <div class="game-action">

      <form action="@routes.TutorialController.takeFirstJob" method="POST">
         @helper.CSRF.formField
         <button type="submit" class="btn btn-success">@Messages("game.job.accept")</button>
      </form>

</div>

}
