@(name: String = "player")(implicit request: RequestHeader, messages: Messages)

@import helper._

@templates.nauticalGameBulkhead(Some("First bank loan details")) {

   <h3>
      @Messages("game.tutorial.firstbankloan.details.header")
   </h3>

}{

<div class="game-talk">

   <div class="card border job-card col-sm-10">
      <div class="card-header">
         @Messages("game.bank.loan.title")
      </div>
      <div class="card-body">
         <dl class="row">
            <dt class="col-sm-7">@Messages("game.bank.loan.amount")</dt>
            <dd class="col-sm-4">€100,000</dd>
            <dt class="col-sm-7">@Messages("game.bank.loan.terms")</dt>
            <dd class="col-sm-4">36 months</dd>
            <dt class="col-sm-7">@Messages("game.bank.loan.repayment.monthly")</dt>
            <dd class="col-sm-4">€2.564</dd>
         </dl>
      </div>
   </div>

</div>

}{

<div class="game-action">

   <form action="@routes.TutorialController.takeOutFirstBankLoan" method="POST">
      @helper.CSRF.formField
      <button type="submit" class="btn btn-success">@Messages("game.bank.loan.takeout")</button>
   </form>

</div>

}
