@(jobDelivered: JobDelivered)(implicit request: RequestHeader, messages: Messages, gameContext: GameContext)

@import helper._

@templates.nauticalGameBulkhead() {

<h3>
   @Messages("game.tutorial.job.delivered.details.header")
</h3>

}{

<div class="game-talk">

   <div class="card border job-card">
      <div class="card-header">
         @Messages("game.job.delivered.details.title")
      </div>
      <div class="card-body">
         <dl class="row">
            <dt class="col-sm-5">@Messages("game.job.delivered.details.company")</dt>
            <dd class="col-sm-6">@jobDelivered.jobDetails.companyName</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.cargo")</dt>
            <dd class="col-sm-6">@jobDelivered.jobDetails.freightType</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.destination")</dt>
            <dd class="col-sm-6">@jobDelivered.jobDetails.destination</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.routelength")</dt>
            <dd class="col-sm-6">@jobDelivered.jobDetails.routeLength km</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.time")</dt>
            <dd class="col-sm-6">@jobDelivered.timeTaken @Messages("game.job.delivered.details.time.hours")</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.invoice")</dt>
            <dd class="col-sm-6">&euro; @jobDelivered.jobDetails.compensation.formatted</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.expenses.fuel")</dt>
            <dd class="col-sm-6">&euro; @jobDelivered.expenses.fuel.formatted</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.expenses.lodging")</dt>
            <dd class="col-sm-6">&euro; @jobDelivered.expenses.lodging.formatted</dd>
            <dt class="col-sm-5">@Messages("game.job.delivered.details.balance")</dt>
            <dd class="col-sm-6">&euro; @jobDelivered.balance.formatted</dd>
         </dl>
      </div>
   </div>

</div>

}{

   <div class="game-action">

      <form action="@routes.TutorialController.invoiceJob" method="POST">
         @helper.CSRF.formField
         <button type="submit" class="btn btn-success">@Messages("game.job.invoice")</button>
      </form>

   </div>

}
