@(title: Option[String] = None)(jib: Html)(cargo: Html)(bridge: Html)(implicit messages: Messages)

@nautical(title){

   <div class="nautical-structure" id="nautical-innerhull">

      <div class="nautical-compartment" id="nautical-jib">
         @jib
      </div>

      <div class="nautical-structure" id="nautical-bulkhead">
         <div class="nautical-structure" id="nautical-ballast">
            <div class="nautical-component" id="nautical-cargo">

               @cargo

            </div>
         </div>
      </div>

      <div class="nautical-compartment" id="nautical-bridge">
         @bridge
      </div>

   </div>

}
