@(title: Option[String] = None)(content: Html)(implicit webJarAssets: WebJarAssets, messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@Messages("application.title") @title.getOrElse("")</title>
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        @*
          <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
          <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        *@
    </head>
    <body>
      <div class="nautical-structure" id="nautical-ocean">
         <div class="nautical-structure" id="nautical-ship">
            <div class="nautical-structure" id="nautical-hull">

               <div class="nautical-component" id="nautical-bow">

                  <h1>Cargo</h1>

               </div>

               <div class="nautical-structure" id="nautical-keel">
                  <div class="nautical-component" id="nautical-cargo">

                     @content

                  </div>
               </div>
             </div>
          </div>
       </div>
    </body>
</html>
